<!DOCTYPE html>
<html>

<head>
  <title>EMS</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/logs.css' />

</head>

<body id="body">
  <% include templates/navbar.ejs %>
  <div class="logs-wrapper">
    <div class="container">
      <h3>Logs</h3>
      
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>