body, html {
  padding: 0px;
  margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(0, 38, 255);
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}